<div class="contact_outer_wrap">
  <div class="contact_form_wrap">
    <div class="title">Contact Us</div>
    <div class="subtitle">How can we help you?</div>
    <form [formGroup]="registerform" (ngSubmit)="onSubmit()">
      <div class="field_wrap">

        <input type="text" formControlName="userName" id="username" placeholder="Your Name" name="username" class="text_field" [(ngModel)]="userValue" (change)="match()">
        <div class="feedback" *ngIf="submitted && f.userName.errors && f.userName.touched">
          <ng-container *ngIf="f.userName.errors.required">Username is required.</ng-container>
          <ng-container *ngIf="f.userName.errors.minlength">Username must have 3 words.</ng-container>
        </div>
      </div>
      <div class="field_wrap">
        <input type="email" formControlName="email" placeholder="Your email address" name="email" class="text_field">
        <div class="feedback" *ngIf="submitted && f.email.errors && f.email.touched">
          <ng-container *ngIf="f.email.errors.required">E-mail is required.</ng-container>
          <ng-container *ngIf="f.email.errors.pattern">Please provide a valid e-mail</ng-container>
        </div>
      </div>
      <div class="field_wrap">
        <input type="text" placeholder="Company" formControlName="company" name="company" class="text_field">
        <div class="feedback" *ngIf="submitted && f.company.errors && f.company.touched">
          <ng-container *ngIf="f.company.errors.required">Fill your comapany name.</ng-container>
          <ng-container *ngIf="f.company.errors.pattern">Special characters are not allowed.</ng-container>
        </div>
      </div>
      <div class="field_wrap">
        <input type="text" formControlName="subject" placeholder="Your Subject" name="subject" class="text_field">
        <div class="feedback" *ngIf="submitted && f.subject.errors && f.subject.touched">
          <ng-container *ngIf="f.subject.errors.required">Subject is required.</ng-container>
          <ng-container *ngIf="f.subject.errors.maxlength">More than 32 character isn't allowed.</ng-container>
        </div>
      </div>
      <div class="field_wrap">
        <input formControlName="number" type="tel" class="text_field" #viewnumber placeholder="Your Number" id="number" [(ngModel)]="num" (keyup)="numBer()" autocomplete="false">
       <div class="feedback" *ngIf="f.number.errors && f.number.touched">
         <ng-container *ngIf="f.number.errors.required">Number is Required</ng-container>
         <ng-container *ngIf="f.number.errors.minlength">Please provide a Mobile No.</ng-container>
         <ng-container *ngIf="f.number.errors.maxlength">This doesn't seem like a Mobile No.</ng-container>
       </div>
      </div>
      <div class="field_wrap">
        <input type="password" formControlName="password" name="password" class="text_field"
               placeholder="Your Password">
      </div>
      <div class="field_wrap">
        <input type="password" formControlName="confirmpassword" name="confirmpassword" class="text_field"
               placeholder="Confirm Password">
      </div>
      <div class="field_wrap">
        <textarea placeholder="Your Message..." formControlName="message" name="message"></textarea>
        <div class="feedback" *ngIf="submitted && f.message.errors && f.message.touched">
          <ng-container *ngIf="f.message.errors.required">Message is required.</ng-container>
          <ng-container *ngIf="f.message.errors.minlength">Minimum 30 character allowed only.</ng-container>
          <ng-container *ngIf="f.message.errors.maxlength">More than 150 character isn't allowed</ng-container>
        </div>
      </div>
      <div class="field_wrap checkbox">
        <label for="accept_terms" [ngStyle]="{'color': getColor()}">
          <input type="checkbox" formControlName="Termsconditions" name="Termsconditions" id="accept_terms" [checked]="isChecked" (click)="checked()">
          Accept Terms & Conditions
        </label>
<!--        <label for="accept_terms" [ngClass]="{'green':isChecked === true, 'red':isChecked === false, 'grey': isChecked === undefined}">-->
<!--          <input type="checkbox" formControlName="Termsconditions" name="Termsconditions" id="accept_terms" [checked]="isChecked" (click)="checked()">-->
<!--          Accept Terms & Conditions-->
<!--        </label>-->
      </div>
      <div class="btn_wrap_center">
        <button type="submit" class="form_btn" [disabled]="!registerform.valid">Submit</button>
      </div>
    </form>
  </div>
</div>
