<div class="home">
  <div class="container">
  <app-header></app-header>
  <div class="flex_wrap home_flex_wrap">
    <div class="col-4">
      <div class="home_text">
        LOREM <span class="break">IPSUM</span>
      </div>
    </div>
    <div class="col-8">
    <div class="home_img">
      <img src="./../../../assets/backgrounds/bitcoin_3d_logo.png" alt="BitCoin">
    </div>
    </div>
  </div>
  <div class="feature_bitcoin">
    <div class="home_bitcoin_wrap">
      <div class="bitcoin_1">
        <img src="./../../../assets/icons/feature-bitcoin.png" alt="Feature Bitcoin">
      </div>
      <div class="bitcoin_2">
        <img src="./../../../assets/icons/feature-bitcoin copy.png" alt="Feature Bitcoion">
      </div>
    </div>
  </div>
  </div>
</div>
