
.service_sec_wrap {
  .section_title {
    color: #1e5799;
  }
  .service_flex_wrap {
    padding-bottom: 30px;
  }
}
.service_flex_wrap{
  .col-4 {
    text-align: center;
    padding-top: 50px;
  }
}

